<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.portfolio.ReadPick.dao.BookMapper">

<!-- insert -->

    <insert id="isbnInsert" parameterType="String"> insert into isbn values(null, #{isbn})</insert>
    <insert id="insertBook" parameterType="book">
        insert into book values (null, #{bmIdx}, #{bsIdx}, #{bssIdx}, #{bsssIdx}, #{bName}, #{author}, #{bContent}, #{link}, #{publisher}, #{pubDate}, #{isbn})
    </insert>

<!-- /insert -->







<!-- select -->
    <!-- 네이버 검색을 위한 키워드 조회 -->
    <select id="selectSearchList" resultType="book"> select keywordName from searchKeyword</select>

    <!-- 네이버 검색 결과 isbn을 조회 -->
    <select id="selectIsbnList" resultType="book">select isbn from isbn</select>

    <!-- 사진을 넣기 위 가장 최근에 추가된 책 조회 -->
    <select id="selectMaxBIdx" resultType="int"> select max(bIdx) from book</select>


<!-- /select -->







<!-- update -->


<!-- /update -->







<!-- delete -->


<!-- /delete -->




</mapper>