<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.portfolio.ReadPick.dao.BookCategoryMapper">

    <resultMap id="BookCategoryResultMap" type="com.portfolio.ReadPick.vo.BsVo">
        <id property="bsIdx" column="bsIdx" />
        <result property="bmIdx" column="bmIdx"/>
        <result property="bsName" column="bsName" />
        <collection property="bssList" ofType="com.portfolio.ReadPick.vo.BssVo">
            <id property="bssIdx" column="bssIdx" />
            <result property="bsIdx" column="bsIdx" />
            <result property="bssName" column="bssName" />
            <result property="bmName" column="bm_name" />
        </collection>
    </resultMap>
    
    <!-- insert -->

    <insert id="insertBmCategories" parameterType="bc">insert into bookMainCategory values(null,
        #{bmName}) on duplicate key update bmName=#{bmName}</insert>

    <insert id="insertBsCategories" parameterType="bc">insert ignore into bookSubCategory
        values(null, #{bmIdx}, #{bsName}) on duplicate key update bsName=#{bsName}</insert>

    <insert id="insertBssCategories" parameterType="bc">insert ignore into bookSubSubCategory
        values(null, #{bsIdx}, #{bssName}) on duplicate key update bssName=#{bssName}</insert>

    <insert id="insertBsssCategories" parameterType="bc">insert ignore into bookDetailCategory
        values(null, #{bssIdx}, #{bsssName}) on duplicate key update bsssName=#{bsssName}</insert>

    <insert id="insertUserPick" parameterType="int"> insert into userPick values(#{userIdx},
        #{bmIdx},#{bsIdx},#{bssIdx}) </insert>
    <!-- /insert -->


    <!-- select -->

    <!-- <select id="selectMaxBmIdx" resultType="int">select max(bmIdx) from
    bookMainCategory</select>
    <select id="selectMaxBsIdx" resultType="int">select max(bsIdx) from bookSubCategory</select>
    <select id="selectMaxBssIdx" resultType="int">select max(bssIdx) from bookSubSubCategory</select>
    <select id="selectMaxBsssIdx" resultType="int">select max(bsssIdx) from bookDetailCategory</select> -->

    <select id="selectBmIdxOne">select bmIdx from fullCategoryView where isbn = #{isbn}</select>

    <select id="selectBsIdxOne">select bsIdx from fullCategoryView where isbn = #{isbn}</select>

    <select id="selectBssIdxOne">select bssIdx from fullCategoryView where isbn = #{isbn}</select>

    <select id="selectBsssIdxOne">select bsssIdx from fullCategoryView where isbn = #{isbn}</select>

    <select id="selectBmIdxByName" resultType="int">select bmIdx from bookMainCategory where bmName
        = #{bmName}</select>
    <select id="selectBsIdxByName" resultType="int">select bsIdx from bookSubCategory where bsName =
        #{bsName}</select>
    <select id="selectBssIdxByName" resultType="int">select bssIdx from bookSubSubCategory where
        bssName = #{bssName}</select>
    <select id="selectBsssIdxBybsssName" resultType="int">select bsssIdx from bookDetailCategory
        where bsssName=#{bsssName}</select>

    <select id="selectBsList" resultType="bc"> select * from bookSubCategory order by bsIdx; </select>

    <select id="selectBssList" parameterType="int"> select * from bookSubSubCategory where bsIdx =
        #{bsIdx} </select>

    <select id="selectBmIdxOneByBsIdx" parameterType="int"> select bmIdx from bookSubCategory where
        bsIdx = #{bsIdx} </select>

    <select id="selectOneBsByBsIdx" resultType="bs" parameterType="int"> select * from
        bookSubCategory where bsIdx = #{bsIdx} </select>

    <select id="selectBssOne" resultType="bc" parameterType="int"> select * from bookSubSubCategory
        where bssIdx = #{bssIdx} </select>

    <select id="selectCategoryView" resultMap="BookCategoryResultMap">
        select * from fullCategoryView order by bsIdx asc;
    </select>

    <select id="selectUserPick" resultType="bc">
        select * from userPick;
    </select>

    <select id="selectBssListByBsIdx" parameterType="int" resultType="bss">
        select * from booksubsubcategory where bsIdx = #{bsIdx}
    </select>
    <!-- /select -->


    <!-- update -->


    <!-- /update -->


    <!-- delete -->


    <!-- /delete -->


</mapper>