<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.portfolio.ReadPick.dao.BookImageMapper">


<!-- insert -->
    <insert id="insertFile" parameterType="bookImage"> insert into bookImage values (null, #{bIdx}, #{fileName}, #{fileType})</insert>
<!-- /insert -->







<!-- select -->

    <select id="selectOneImageByBIdx" resultType="bookImage" parameterType="int">
        select * from bookimage where bIdx = #{bIdx}
    </select>

<!-- /select -->







<!-- update -->

<!-- /update -->







<!-- delete -->

<!-- /delete -->


</mapper>