<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.portfolio.ReadPick.dao.BookImageMapper">


    <!-- insert -->
    <insert id="insertFile" parameterType="bookImage"> insert into bookImage values (null, #{bookIdx},
        #{fileName}, #{fileType})</insert>
    <!-- /insert -->


    <!-- select -->

    <select id="selectOneImageByBookIdx" resultType="bookImage" parameterType="int"> select * from
        bookImage where bookIdx = #{bookIdx}</select>

    <select id="selectImageByBookIdx" resultType="bookImage" parameterType="int">select * from
        bookImage where bookIdx = #{bookIdx}</select>

    <select id="selectBsImageByBsIdx" resultType="bookImage" parameterType="int">
        select * from bookAndImageView where bsIdx = #{bsIdx} order by bookIdx desc;
    </select>

    <select id="selectBssImageByBssIdx" resultType="bookImage" parameterType="int">
        select * from bookAndImageView where bssIdx = #{bssIdx} order by bookIdx desc;
    </select>

    <select id="selectBsssImageByBsssIdx" resultType="bookImage" parameterType="int">
        select * from bookAndImageView where bsssIdx = #{bsssIdx} order by bookIdx desc;
    </select>

    <select id="selectImageOneByBookIdx" resultType="String" parameterType="int">
        select fileName from bookImage where bookIdx = #{bookIdx}
    </select>

    <!-- /select -->


    <!-- update -->

    <!-- /update -->


    <!-- delete -->

    <!-- /delete -->


</mapper>