<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.portfolio.ReadPick.dao.MyPageMapper">

    <!-- insert -->

    <insert id="insertBookmark" parameterType="bookmark"> insert into bookmark values(#{userIdx},
        #{bIdx}, #{isBookmarked})</insert>

    <!-- /insert -->


    <!-- select -->
    <select id="selectOneUserBookmark"> select isBookmarked from bookmark where bIdx = #{bIdx} and
        userIdx = #{userIdx}</select>
    
    <select id="selectMyPageBookList" parameterType="int" resultType="bookmark">
        select * from bookmark where userIdx = #{userIdx} order by bookmarkAt desc;
    </select>
    
    <!-- /select -->


    <!-- update -->

    <update id="updateBookmark" parameterType="bookmark"> update bookmark set isBookmarked =
        #{isBookmarked} where userIdx = #{userIdx} and bIdx = #{bIdx}</update>

    <!-- /update -->


    <!-- delete -->

    <!-- /delete -->


</mapper>