<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.portfolio.ReadPick.dao.MyPageMapper">

    <!-- insert -->

    <!-- /insert -->


    <!-- select -->
    <select id="bookmarkList" parameterType="bookmark" resultType="bookmark"> select * from
        bookmark where userIdx = #{userIdx} and isBookmarked = #{isBookmarked} order by bookmarkAt desc; </select>

    <select id="bookmarkImageList" resultType="bookImage" parameterType="int">
        select * from bookImage where bookIdx = #{bookIdx} 
    </select>

    <!-- /select -->


    <!-- update -->


    <update id="userInfoModify" parameterType="user"> update users set userName = #{userName},
        nickName = #{nickName}, id = #{id}, pw = #{pw}, email = #{email} where userIdx = #{userIdx} </update>

    <!-- /update -->


    <!-- delete -->

    <!-- /delete -->


</mapper>