<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.portfolio.ReadPick.dao.RecMapper">

    <!-- insert -->

    <insert id="insertRec" parameterType="rec"> insert into rec values(#{userIdx}, #{bIdx}, null,
        #{isRecommended}); </insert>

    <!-- /insert -->


    <!-- select -->

    <select id="selectOneUserRec" resultType="String" parameterType="int"> select isRecommended from
        rec where bIdx = #{bIdx} and userIdx = #{userIdx} </select>

    <select id="recCount"> select count(*) from rec where bIdx = #{bIdx} and isRecommended = 'Y' </select>

    <select id="recCountMax" resultType="int"> select max(recCountMax) from (select count(*) as
        recCountMax from rec where isRecommended = 'Y' group by bIdx) as countResults; </select>

    <select id="recCountMaxByUserRecBIdxList" resultType="map" parameterType="list"> select bIdx,
        recCountMax from ( select bIdx, count(*) as recCountMax from rec where bIdx in <foreach
            item="bIdx" collection="bIdxList" open="(" separator="," close=")"> #{bIdx} </foreach>
        and isRecommended = 'Y' group by bIdx ) as countResults order by recCountMax desc limit 1; </select>


    <select id="selectBsssIdxListByUserIdx" resultType="Integer" parameterType="int"> select bsssIdx
        from userPick where userIdx = #{userIdx} order by bsssIdx desc </select>

    <select id="selectBssIdxListByUserIdx" resultType="Integer" parameterType="int"> select bssIdx
        from userPick where UserIdx = #{UserIdx} order by bssIdx desc </select>

    <select id="selectBsIdxListByUserIdx" resultType="Integer" parameterType="int"> select bsIdx
        from userPick where UserIdx = #{UserIdx} order by bsIdx desc </select>

    <select id="selectBmIdxListByUserIdx" resultType="Integer" parameterType="int"> select bmIdx
        from userPick where UserIdx = #{UserIdx} order by bmIdx desc </select>

    <select id="selectBIdxByCategoryIdx" resultType="Integer" parameterType="int"> select bIdx from
        book where bmIdx = #{bmIdx} and bsIdx = #{bsIdx} and bssIdx = #{bssIdx} and bsssIdx =
        #{bsssIdx} </select>

    <select id=""></select>

    <!-- <select id="selectBookListByBIdx" resultType="book" parameterType="list"> select * from
    book
        where bIdx in <foreach item="id" collection="bIdxList" open="(" separator="," close=")">
        #{bIdx} </foreach>
    </select> -->

    <!-- /select -->


    <!-- update -->

    <update id="updateRec" parameterType="rec"> update rec set isRecommended = #{isRecommended}
        where userIdx = #{userIdx} and bIdx = #{bIdx} </update>

    <!-- /update -->


    <!-- delete -->

    <!-- /delete -->


</mapper>