<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.portfolio.ReadPick.dao.ReviewMapper">


    <!-- insert -->

    <select id="insertReview" parameterType="review">
        insert into review (userIdx, bookIdx, content, reviewAt) values(#{userIdx}, #{bookIdx}, #{content}, #{reviewAt})
    </select>
    
    <!-- /insert -->


    <!-- select -->
    <select id="selectOneReview" resultType="review" parameterType="int">
        select * from review where userIdx = #{userIdx} and bookIdx = #{bookIdx}
    </select>

    <!-- /select -->


    <!-- update -->

    <update id="reviewUpdate" parameterType="review">
        update review set content = #{content} where userIdx = #{userIdx} and bookIdx = #{bookIdx}
    </update>

    <!-- /update -->


    <!-- delete -->

    <delete id="reviewDelete" parameterType="int">
        delete from review where userIdx = #{userIdx} and bookIdx = #{bookIdx}
    </delete>

    <!-- /delete -->


</mapper>