<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.portfolio.ReadPick.dao.ReviewMapper">


    <!-- insert -->

    <select id="insertReview" parameterType="review">
        insert into review values(null, #{userIdx}, #{bookIdx}, #{content}, #{reviewAt}, default)
    </select>
    
    <!-- /insert -->


    <!-- select -->
    <select id="selectOneReview" resultType="review" parameterType="int">
        select * from review where userIdx = #{userIdx} and bookIdx = #{bookIdx}
    </select>

    <select id="selectReview" parameterType="int" resultType="ru">
        select * from reviewUserView where bookIdx = #{bookIdx} order by rvIdx desc limit 1;
    </select>

    <select id="selectOneBookIdx" parameterType="int" resultType="int">
        select bookIdx from review where rvIdx = #{rvIdx}
    </select>

    <select id="selectReviewMore" parameterType="int" resultType="ru">
        select * from reviewUserView where bookIdx = #{bookIdx} and rvIdx &lt;<!-- < 특수문자의 대체문자--> #{rvIdx} order by rvIdx desc limit 2;
    </select>

    <!-- /select -->


    <!-- update -->

    <update id="reviewUpdate" parameterType="review">
        update review set content = #{content} where userIdx = #{userIdx} and bookIdx = #{bookIdx}
    </update>

    <!-- /update -->


    <!-- delete -->

    <delete id="reviewDelete" parameterType="int">
        delete from review where userIdx = #{userIdx} and bookIdx = #{bookIdx}
    </delete>

    <!-- /delete -->


</mapper>