<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.portfolio.ReadPick.dao.UserMapper">

    <!-- insert -->

    <!-- 회원가입 -->
    <insert id="userInsert" parameterType="user"> insert into users value(null, #{userName},
        #{nickName}, #{Id}, #{pw}, #{eMail}, #{adminAt}); </insert>

    <!-- /insert -->


    <!-- select -->

    <select id="selectList" resultType="user">select * from users order by userIdx</select>

    <!-- /select -->


    <!-- update -->


    <!-- /update -->


    <!-- delete -->


    <!-- /delete -->


</mapper>