<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.portfolio.ReadPick.dao.UserMapper">

    <!-- insert -->

    <!-- 회원가입 -->
    <insert id="userInsert" parameterType="user"> insert into users (userName, nickName, Id, pw,
        email) values(#{userName}, #{nickName}, #{id}, #{pw}, #{email}); </insert>

    <insert id="insertUserPick" parameterType="int"> insert into userPick values(#{userIdx},
        #{bmIdx}, #{bsIdx}, #{bssIdx}); </insert>

    <insert id="insertUserImage" parameterType="userImage">
        insert into userImage values(null, #{userIdx}, #{fileName})
    </insert>
    <!-- /insert -->


    <!-- select -->

    <select id="selectList" resultType="user">select * from users order by userIdx</select>

    <select id="selectOneFromId" parameterType="user" resultType="user"> select * from users where id = #{id} </select>

    <select id="selectUserImageFromUserIdx" parameterType="int" resultType="String"> select fileName from userImage where userIdx = #{userIdx} </select>
    <!-- /select -->


    <!-- update -->
    <update id="userFirstAtUpdate" parameterType="user"> update users set firstAt = #{firstAt} where
        userIdx = #{userIdx} </update>

    <update id="updateUserImage" parameterType="userImage"> update userImage set fileName = #{fileName} where userIdx = #{userIdx} </update>
    <!-- /update -->


    <!-- delete -->

    <delete id="deleteUserImage" parameterType="int"> delete from userimage where userIdx = #{userIdx} </delete>


    <!-- /delete -->


</mapper>